table{
    width: 100%;  
}
tr,th{
    border-bottom: 1px solid #ddd;
    
}
th,td{
    padding: 10px;
    margin: 20px;
    text-align: left;
}
tr:nth-child(odd) {background-color: #ccccd7;}
tr:hover{
    background-color: #838398;
}
.search{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
   
}
.search input{
    width: 55%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
*{
    padding: 10px;
}