
<div class="admin-dashboard">
  
  <button class="add-movie-btn" (click)="onAddMovie()"><i class="fa-solid fa-square-plus"></i> Add New Movie</button>
  <span class="search">
    <input type="text" placeholder="search..." [(ngModel)]="search">
  </span>

  <div class="movie-form" *ngIf="selectedMovie">
    <form (ngSubmit)="saveMovie(selectedMovie)">
      <input class="form-input" placeholder="Movie Name" [(ngModel)]="selectedMovie.movieName" name="name">
      <input class="form-input" placeholder="Genre" [(ngModel)]="selectedMovie.genre" name="genre">
      <input type="number" class="form-input" placeholder="Age Restriction" [(ngModel)]="selectedMovie.ageRestriction" name="age">
      <input type="number" class="form-input" placeholder="Duration" [(ngModel)]="selectedMovie.duration" name="duration">
      <textarea class="form-textarea" placeholder="Description" [(ngModel)]="selectedMovie.description" name="desc"></textarea>
      <input type="number" class="form-input" placeholder="Price" [(ngModel)]="selectedMovie.price" name="price">
      <input class="form-input" placeholder="Poster URL" [(ngModel)]="selectedMovie.posterImageUrl" name="poster">
      <input class="form-input" placeholder="Trailer URL" [(ngModel)]="selectedMovie.trailerUrl" name="trailer">
      
      <div *ngFor="let show of showList; let i = index" class="form-group">
        <label>Show Date</label>
        <input type="date" class="form-input" [(ngModel)]="show.showDate" name="showDate{{i}}" required>
      
        <label>Show Time</label>
        <input type="text" class="form-input" [(ngModel)]="show.showTime" name="showTime{{i}}" required>
      
        <label>Seats</label>
        <input type="number" class="form-input" [(ngModel)]="show.availableSeats" name="seats{{i}}" required>
      
      
      </div>
      
      <button (click)="addShow()">+ Add Show</button>
      
      
      <div class="form-actions">
        <button type="submit" class="submit-btn">{{ isEdit ? 'Update' : 'Add' }}</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>

  <div class="movie-table-container" *ngIf="!selectedMovie">
    <table class="movie-table" >
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Price</th>
          <th>Age</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies | adminmovies:search">
          <td>{{ movie.movieName }}</td>
          <td>{{ movie.genre }}</td>
          <td>${{ movie.price }}</td>
          <td>{{ movie.ageRestriction }}+</td>
          <td>{{ movie.duration }} mins</td>
          <td [class.active]="movie.isActive" [class.inactive]="!movie.isActive">
            {{ movie.isActive ? 'Active' : 'Inactive' }}
          </td>
          <td class="action-buttons">
            <button class="edit-btn" (click)="onEditMovie(movie)"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="toggle-btn" (click)="onToggleActive(movie)">
              {{ movie.isActive ? '❌' : '✔' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>