
<header>
  <div class="masking-container">
    <h1 class="masked-text" routerLink="/dashboard">MovieBuzz</h1>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active" [class.disabled]="isLoggedIn">Register</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      
      <li *ngIf="isLoggedIn">
        <span *ngIf="isLoggedIn" class="welcome">Hi, {{username}}</span>
        <a (click)="logOut()">Logout</a>
      </li>
      <li>
        <a routerLink="/history" routerLinkActive="active" [class.disabled]="!isLoggedIn">BookHistory</a>
      </li>
      
      <li *ngIf="isAdminUser">
        <a routerLink="/admin-dashboard" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </nav>
</header>