header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #1f1f2e;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .masking-container {
    cursor: pointer;
    height: auto;
    border-radius: 10px;

    margin: 0;

    .masked-text {
      font-weight: bold;

      color: transparent;
      background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 200%;
      background-position: 0 50%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate-background 5s infinite alternate linear;
    }

    @keyframes animate-background {
      0% {
        background-position: 0 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }
  }
  span {
    margin-right: 10px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      gap: 1.5rem;

      li {
        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
          transition: color 0.3s ease;
          cursor: pointer;
          font-weight: bold;
          font-size: large;

          &:hover {
            color: #ff4b5c;
          }

          &.active {
            color: #ff4b5c;
            border-bottom: 2px solid #ff4b5c;
            padding-bottom: 0.25rem;
          }

          &.disabled {
            pointer-events: none;
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        .welcome {
          color: #ff4b5c;
          font-weight: bold;
        
        }
      }
    }
  }
}
