<!--Search filter based on moviename and genre-->
<div class="search">
    <input type="text" placeholder="search a movie" [(ngModel)]="searchMovie" />
    <span>
      <select [(ngModel)]="selectedGenre">
        <option value="All">All Genres</option>
        <option *ngFor="let genre of genreList" [value]="genre">{{ genre }}</option>
      </select>
    </span>
  </div>

 <!--displays preloader when the data is loading-->
  <div *ngIf="isLoading; else loadData">  
    <div id="preloader">
      <div id="loader"></div>
    </div>
  </div>
  
  
  <section class="movies-container">
    <ng-template #loadData>
      <!--Movie Cards-->
      <div class="movies-grid">
        <nz-card
          *ngFor="let movie of paginatedMovies | movies:searchMovie:selectedGenre"
          (click)="onMovieClick(movie)"
          [nzHoverable]="movie.IsActive"
          class="movie-card"
          [class.inactive]="!movie.IsActive"
          [nzCover]="coverTemplate"
        >
          <ng-template #coverTemplate>
            <img alt="{{ movie.MovieName }}" src="{{ movie.PosterImageURL }}" height="400px" />
          </ng-template>
          <div class="card-name">
            <nz-card-meta nzTitle="{{ movie.MovieName }}"></nz-card-meta>
            <span class="age-restriction">{{ movie.AgeRestriction }}+</span>
          </div>
          <div class="card-details">
            <nz-card-meta nzDescription="{{ movie.Genre }}"></nz-card-meta>
            <nz-card-meta nzDescription="{{ movie.Duration }}"></nz-card-meta>
          </div>
        </nz-card>
      </div>
      
      <!--Pagination only 4 cards will display here-->
      <nz-pagination
        [nzPageSize]="pageSize"
        [nzTotal]="totalMovies"
        [(nzPageIndex)]="currentPage"
        [nzShowSizeChanger]="false"
        class="pagination"
      ></nz-pagination>
    </ng-template>
  </section>
  