footer{
    background-color: #841212;
    // background-color: #1F1F2E;
    bottom: 0;
    // position: fixed;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;   
}
button{
    color: none;
}
.Icons{
    display: flex;
    gap: 30px;
    font-size:x-large;
}
.footer-content{
    display: flex;
    gap: 30px;
    
    
}
i{
    margin-right: 10px;
    margin-top: 10px;
    
}

h3{
    
    margin-top: 10px;
    margin-left: 10px;
   
    padding: 5px;
    

}