<!--Booking history of all users-->
<div class="search">
  <input type="text" placeholder="search....." [(ngModel)]="history" />
</div>
<table>
  <tr>
    <th>BookingID</th>
    <th>UserName</th>
    <th>MovieID</th>
    <th>MovieName</th>
    <th>Booking Date</th>
    <th>Quantity</th>
    <th>Totalprice</th>
  </tr>
  <tr *ngFor="let booking of bookings | adminhistory:history ">
    <td>{{ booking.bookingId }}</td>
    <td>{{ booking.Username}}</td>
    <td>{{ booking.movieId }}</td>
    <td>{{ booking.movieName }}</td>
    <td>{{ booking.date }}</td>
    <td>{{ booking.Quantity }}</td>
    <td>Rs. {{ booking.totalPrice }}/-</td>
  </tr>
</table>

<h2 *ngIf="!book">Total Bookings: {{TotalCount}}</h2>
<h1>{{book}}</h1>