.search{
    margin-top: 60px;
    text-align: center;
   
}
.search input{
    width: 55%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
table{
    margin-top: 20px;
    width: 100%;  
}

th,td{
    padding: 10px;
    margin: 20px;
    text-align: left;
}
tr:nth-child(odd) {background-color: #ccccd7;}
tr:hover{
    background-color: #838398;
}
h1{
    margin-top: 100px;
}