
.navbar {
  height: 60px;
  // background-color:  #8787a0;
  background-color: #1F1F2E;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  width: 100%;
  z-index: 999;
}

.navbar .left {
  display: flex;
  align-items: center;
}

.navbar .menu-btn {
  font-size: 20px;
  color: white;
  background: none;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.navbar .brand {
  font-size: 20px;
  font-weight: bold;
  // color: #0b2243;
  color: white;
}

.navbar .right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logout-btn {
  padding: 5px 10px;
  background-color: #81df81;
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100% - 60px);
  background-color: #1c3c66;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 60px;

  span{
    display: none;
  }
}
span{
  margin-left: 5px;
}


.collapse-btn {
  background: #0b2243;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  // background-color: #f2f4f7;
  height: calc(100vh - 60px);
  transition: margin-left 0.3s;
}

.main-content.expanded {
  margin-left: 60px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 25px; 
  align-items: center; 
}

.sidebar nav a {
  padding: 10px 15px;
  color: yellow;
  text-decoration: none;
  font-size: 14px;
  width: 100%; 
  text-align: center; 
}

.sidebar nav a.active {
  background-color: #0b2243;
  border-left: 4px solid yellow;
  border-radius: 4px;
}

.admin-greeting {
  text-align: center;
  font-size: 14px;
  position: relative;
  color: #00ff88;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00ff00;
  border-radius: 50%;
  margin-left: 6px;
  vertical-align: middle;
}
.right span{
  color: white  ;
}
